{% extends 'main.html' %}

{% block head %}
	<link rel='stylesheet' href="{{url_for('static', filename='css/html/html_home.css')}}">
	{% block head2 %}
	{% endblock %}
{% endblock %}

{% block left_menu %}
	<h4>Html</h4>
	<a>HTML Home</a>
	<a href='html_introduction.html'>HTML Introduction</a>
	<a>HTML Editors</a>
	<a>HTML Basic</a>
	<a>HTML Elements</a>
	<a>HTML Attributes</a>
	<a>HTML Headings</a>
	<a>HTML Paragraphs</a>
	<a>HTML Styles</a>
	<a>HTML Formatting</a>
	<a>HTML Quotations</a>
	<a>HTML Comments</a>
	<a>HTML Colors</a>
	<a>HTML CSS</a>
	<a>HTML Links</a>
	<a>HTML Images</a>
	<a>HTML Tables</a>
	<a>HTML Lists</a>
	<a>HTML Block & Inline</a>
	<a>HTML Classes</a>
	<a>HTML Id</a>
	<a>HTML Iframes</a>
	<a>HTML JavaScript</a>
	<a>HTML File Paths</a>
	<a>HTML Head</a>
	<a>HTML Layout</a>
	<a>HTML Responsive</a>
	<a>HTML Computercode</a>
	<a>HTML Semantics</a>
	<a>HTML Style Guide</a>
	<a>HTML Entities</a>
	<a>HTML Symbols</a>
	<a>HTML Emojis</a>
	<a>HTML Charset</a>
	<a>HTML URL Encode</a>
	<a>HTML vs. XHTML</a>

	<h4>HTML Forms</h4>
	<a>HTML Forms</a>
	<a>HTML Form Elements</a>
	<a>HTML Input Types</a>
	<a>HTML Input Attributes</a>
	<a>HTML Input Form Attributes</a>

	<h4>HTML Graphics</h4>
	<a>HTML Canvas</a>
	<a>HTML SVG</a>

	<h4>HTML Media</h4>
	<a>HTML Media</a>
	<a>HTML Video</a>
	<a>HTML Audio</a>
	<a>HTML Plug-ins</a>
	<a>HTML YouTube</a>

	<h4>HTML APIs</h4>
	<a>HTML Geolocation</a>
	<a>HTML Drag/Drop</a>
	<a>HTML Web Storage</a>
	<a>HTML Web Workers</a>
	<a>HTML SSE</a>

	<h4>HTML Examples</h4>
	<a>HTML Examples</a>
	<a>HTML Quiz</a>
	<a>HTML Exercises</a>
	<a>HTML Certificate</a>
	<a>HTML Summary</a>
	<a>HTML Accessibility</a>

{% endblock %}

{% block main_menu %}
{% endblock %}
